<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head th:each="review: ${reviews}">
<title th:text="${review.title}"></title>
</head>

<body>

	<header>
		<h1> A Modern Nacho Critque </h1>
	</header>
	

	<article th:each="review: ${reviews}">
		<h2 th:text="${review.title}"></h2>
		<p th:text="${review.content}"></p>
		
		<img th:src="${review.imageUrl}" alt="Picture of Nachos"/> 
		<h2 th:text="${review.tldr}"></h2>
		<a href="http://localhost:8080/reviews">Back to home</a>
	</article>

</body>
</html>