<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Nacho Reviews</title>
<style>
body {background-color: #ffff66;}


h1 	{
		color: black;
	}
a:link {
    	color: #00e600;
	}
a:visited {
    	color: #00e600;
	}
	
p   {
		text-indent: 50px;
		color: red;
	}
	
article {
		border-style: solid;
    	border-width: 2px;
    	border-radius: 5px;
    	margin-top: 25px;
    	margin-right: 150px;
    	margin-left: 80px;
    	margin-bottom: 25px;
    	padding: 30px;
    	
	}
img {
		float: right
	}
</style>
</head>

<body>
	<header>
		<h1>Nacho Reviews</h1>
	</header>
	
	<article th:each="review: ${reviews}">
		<img th:src="${review.imageUrl}" alt="Picture of Nachos" width="100" height="100"/>
		
		<h3>
			<a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
		</h3>
		<p th:text="${review.tldr}"></p>
	</article>


</body>
</html>